.main-content {
  margin-top: 80px;
  padding: 20px;
  min-height: calc(100vh -160px);
  overflow-y: auto;
  position: relative;
  z-index: 1;
  text-align: center;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease-in-out;
}
.app.shifted .main-content {
  margin-left: 250px;
}

  @media (max-width: 768px) {
    .main-content {
        max-width: 100%;
        margin-left: 0;
    }
  }