body{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column; /* stacks elements*/
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.menu-button {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: ppointer;
  z-index: 1100;
}
.menu-button:hover {
  background-color: #575757;
}


