:root { 
  --primary: #ec7905;
  --card-bg: white;
  --accent: #e133ac;
  --text: #222;
  --background: #f0f2f5;
  --highlight: #ff4081;
}

body{

  margin:0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: var(--primary);
  text-align: center;
  overflow-x: hidden;
  color: var(--text);
}

.app {
  display: flex;
  flex-direction: column; /* stacks elements*/
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.menu-button {
  position: fixed;
  left: 10px;
  top: 10px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: ppointer;
  z-index: 1100;
}
.menu-button:hover {
  background-color: #575757;
}

.footer {
  height: 60px;
}

